body {
    font-family: 'Noto Serif', serif;
}

#menu {
    background-color: #657280;
}

/*Home Tiles*/
.tiles article {
    width: calc(25% - 2.5em);
}

    .tiles article.style1 > .image:before {
        background-color: #C9E4FF;
    }
    .tiles article.style2 > .image:before {
        background-color: #3E5F80;
    }
    .tiles article.style3 > .image:before {
        background-color: #7DBEFF;
    }
    .tiles article.style4 > .image:before {
        background-color: #779ecb;
    }

/*Header tile*/
#header .logo > * {
    font-size: 4em;
   }
#header .logo {
    margin: 0;
}

#header {
    padding: 2em 0 0.1em 0;
    background-color: #657280;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

/*Index Header*/
#wrapper > * > .inner {
    text-align: center;
}

a:hover {
    border-bottom-color: transparent;
    color: #C9E4FF !important;
}

.tiles{
    justify-content: center;
}

#footer {
    margin-top: 6em;
    padding: 3em 0 1em 0;
}