body {
    font-family: 'Noto Serif', serif;
}

#menu {
    background-color: #657280;
}

/*Home Tiles*/
.tiles article {
    width: calc(25% - 2.5em);
}

    .tiles article.style1 > .image:before {
        background-color: #C9E4FF;
    }
    .tiles article.style2 > .image:before {
        background-color: #3E5F80;
    }
    .tiles article.style3 > .image:before {
        background-color: #7DBEFF;
    }
    .tiles article.style4 > .image:before {
        background-color: #779ecb;
    }

/*Header tile*/
#header .logo > * {
    font-size: 4em;
   }
#header .logo {
    margin: 0;
}

#header {
    padding: 2em 0 0.1em 0;
    background-color: #657280;
    margin-top: 2em;
    margin-bottom: 2em;
    color: white;
}

/*Index Header*/
#banner{
    text-align: center;
}

a:hover {
    border-bottom-color: transparent;
    color: #C9E4FF !important;
}

.tiles{
    justify-content: center;
}

#footer {
    margin-top: 6em;
    padding: 0em 0 1em 0;
    text-align: center;
}
/*Student index*/

.studentCard{
    border: solid 2px gray;
    box-shadow: 5px 5px 0 darkgray;
    height: 20em;
    padding: 1em;
    position: relative;
}

.detailLink{
    font-size: 1.3em;
    transition: ease-in-out .3s;
}
    .detailLink:hover {
        transition: ease-in-out .3s;
        transform: scale(1.2);
        opacity: .8;
    }

.imgContainer {
    overflow: hidden;
    margin: 0 auto .5em auto;
    height: 8em;
    width: 8em;
}

.details span {
    color: #779ecb;
    font-size: 1.2em;
    font-style: normal;
}

.details {
    font-size: .9em;
    font-style: italic
}

.editLinks {
    font-size: .8em;
    position: absolute;
    bottom: 0;
    left: 40px;
    right: 40px;
}

a{
    border: none;
}

.editLinks p{
    display: inline;
}

/*Student Details*/
#stImg img{
    width:300px;
}

#stContainer {
    text-align: left;
    border: solid 2px gray;
    box-shadow: 10px 10px 0 darkgrey;
    margin-bottom: 2em;
    padding: 2em;
}

#stContainer .row{
    justify-content: center;
}

#stContainer .col{
    padding-left: 7em;
}

    #stContainer #stImg {
        padding-right: 7em;
        text-align: center;
        border-right: solid 1px lightgray;
    }

    #stContainer .col p{
        margin-bottom: 1em;
    }

/*Edit, Delete, Create*/
.containerLeft{
    float: left;
}

.containerRight{
    float: right;
}

input[type="text"], input[type="password"], input[type="email"], select {
    height: 3em;
    background: rgba(240,240,240,.5);
    width: 30em;
}
label {
    display: block;
    font-size: 0.9em;
    font-weight: 900;
    margin: 1em 0 0em 0;

}