@{
    ViewBag.Title = "Home Page";
}


        <header>
      
            @*<p>A secure application for managing product data. Application is built to simulate an online class scheduling system. Administrators will have the ability to manage students, courses, scheduled classes, and enrollments.</p>*@
        </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                </span>
                <a href="@Url.Action("Index","Students")">
                    <h2>Students</h2>
                    <div class="content">
                        @*<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>*@
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                </span>
                <a href="@Url.Action("Index","Enrollments")">
                    <h2>Enrollments</h2>
                    <div class="content">
                        @*<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>*@
                    </div>
                </a>
            </article>
            <article class="style3">
                <span class="image">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                </span>
                <a href="@Url.Action("Index","Courses")">
                    <h2>Courses</h2>
                    <div class="content">
                        @*<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>*@
                    </div>
                </a>
            </article>
            <article class="style4">
                <span class="image">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                </span>
                <a href="@Url.Action("Index","ScheduledClasses")">
                    <h2>Scheduled Classes</h2>
                    <div class="content">
                        @*<p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>*@
                    </div>
                </a>
            </article>
            @*<article class="style5">
                <span class="image">
                    <img src="~/Content/images/pic05.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Aliquam</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>
            <article class="style6">
                <span class="image">
                    <img src="~/Content/images/pic06.jpg" alt="" />
                </span>
                <a href="generic.html">
                    <h2>Veroeros</h2>
                    <div class="content">
                        <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                    </div>
                </a>
            </article>*@
            @*<article class="style2">
                    <span class="image">
                        <img src="~/Content/images/pic07.jpg" alt="" />
                    </span>
                    <a href="generic.html">
                        <h2>Ipsum</h2>
                        <div class="content">
                            <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                        </div>
                    </a>
                </article>
                <article class="style3">
                        <span class="image">
                            <img src="~/Content/images/pic08.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Dolor</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style1">
                        <span class="image">
                            <img src="~/Content/images/pic09.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Nullam</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style5">
                        <span class="image">
                            <img src="~/Content/images/pic10.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Ultricies</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style6">
                        <span class="image">
                            <img src="~/Content/images/pic11.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Dictum</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>
                    <article class="style4">
                        <span class="image">
                            <img src="images/pic12.jpg" alt="" />
                        </span>
                        <a href="generic.html">
                            <h2>Pretium</h2>
                            <div class="content">
                                <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
                            </div>
                        </a>
                    </article>*@
        </section>
